@font-face {
  font-family: "Roboto-Bold";
  src: url("./../assets/fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: "RobotoCondensed-Light";
  src: url("./../assets/fonts/RobotoCondensed-Light.ttf");
}
* {
  margin: 0;
  padding: 0;
}
.max-my-2 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.max-my-4 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.max-text-center {
  text-align: center;
}
.max-button {
  background: #ff6a0e;
  color: white;
  text-align: center;
  padding: 10px 0;
  max-width: 300px;
  width: 80%;
  font-size: 1.1em;
  border-radius: 10px;
  font-family: Roboto-Bold;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
  display: block;
  margin: 0 auto;
  max-width: 180px;
  font-size: 1.3em;
  border: none;
  margin-top: 20px;
}
.max-button:hover {
  background-color: #d4681be6;
}
/* banner */
.banner {
  background-size: 100% 100%;
  height: 20vh;
  background-image: url("./../assets/imgs/banner-header-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
.contenido {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}
.banner-footer {
  bottom: 0;
  height: 20vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  background-image: url("./../assets/imgs/banner-footer-mobile.jpg");
}
@media (min-width: 768px) {
  .banner {
    height: 30vh;
  }
  .contenido {
    height: 40vh;
  }
  .banner-footer {
    height: 30vh;
  }
}

@media (min-width: 992px) {
  .banner {
    height: 25vh;
  }
  .contenido {
    height: 50vh;
  }
  .banner-footer {
    height: 25vh;
  }
}

@media (min-width: 1140px) {
  .banner {
    height: 30vh;
    background-image: url("./../assets/imgs/banner-header-desk.jpg");
  }
  .contenido {
    height: 40vh;
  }
  .banner-footer {
    height: 30vh;
    background-image: url("./../assets/imgs/banner-footer-mobile.jpg");
  }
}

/* selector */
.max-indicator-selector {
  color: #004682;
  font-family: Roboto-Bold, cursive;
  font-size: 2rem;
  line-height: 0.8em;
  font-weight: 400;
}

.max-text-indicator-english {
  font-size: 1.3em;
  margin-top: 0.8rem;
  font-weight: 200;
}
.max-selector-country {
  font-family: RobotoCondensed-Light, cursive;
  width: 300px;
  display: block;
  margin: 20px auto 0;
  /* margin-top: 0; */
  border: unset;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid;
  border-radius: 5px;
  padding: 8px 6px;
  color: #333;
  background-color: transparent;
  font-size: 1.3em;
  text-align: center;
  font-weight: bold;
}
.max-selector-country-container {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.max-selector-country option {
  font-family: RobotoCondensed-Light, cursive;
}
