@import url("../../assets/fonts/Asap-Medium.ttf");
@font-face {
  font-family: "Asap-Medium";
  src: url("../../assets/fonts/Asap-Medium.ttf");
  src: local("Asap Medium"), local("Asap-Medium"),
    url("../../assets/fonts/Asap-Medium.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
}
.max-my-2 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.max-my-4 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.max-text-center {
  text-align: center;
}
.max-button {
  background: #ffce01;
  color: #ae0c0c;
  text-align: center;
  padding: 10px 0;
  max-width: 300px;
  width: 80%;
  font-size: 1.1em;
  border-radius: 10px;
  font-family: Asap-Medium;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
  display: block;
  margin: 0 auto;
  color: #000;
  max-width: 180px;
  font-size: 1.3em;
  border: none;
  margin-top: 20px;
}
/* banner */
.banner {
  height: 60vh;
  background-image: url("../../assets/imgs/banner-risk-desk.jpg");
  object-fit: contain;
  background-size: cover;
  background-position: center;
}

@media (max-width: 768px) {
  .banner {
    height: 50vh;
    background-image: url("../../assets/imgs/banner-risk-mobile.jpg");
  }
}
@media (min-width: 1140px) {
  .banner {
    height: 650px;
    background-image: url("../../assets/imgs/banner-risk-desk.jpg");
  }
}

/* selector */
.max-indicator-selector {
  color: #87031d;
  font-family: Asap-Medium, cursive;
  font-size: 2.2em;
  line-height: 0.8em;
  font-weight: 400;

}
.max-selector-country {
  width: 300px;
  display: block;
  margin: 20px auto 0;
  /* margin-top: 0; */
  border: unset;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid;
  border-radius: 5px;
  padding: 8px 6px;
  color: #333;
  background-color: transparent;
  font-family: Asap-Medium;
  font-size: 1.3em;
  text-align: center;
}
.max-selector-country-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
